<div class="row">
	<div class="small-11 large-offset-1 columns">
		<h1>Listing Councils</h1>
	</div>
</div>

<div class="row">
	<div class="small-11 large-offset-1 columns">
		<table>
		  <tr>
		    <th>Council Name</th>
		    <th>Address</th>
		    <th>Postcode</th>
		    <th>State</th>
		    <th colspan="3"></th>
		    
		  </tr>
		  <% @councils.each do |council| %>
		    <tr>
		      <td><%= link_to council.council_name, council_path(council) %></td>
		      <td><%= council.address.address_long %></td>
		      <td><%= council.address.postcode %></td>
		      <td><%= council.address.state_code %></td>
		      <td><%= link_to 'Edit', edit_council_path(council) %></td>
		      <td><%= link_to 'Destroy', council_path(council), method: :delete, 
		                                 data: { confirm: 'Are you sure?' }%></td>
		    </tr>
		  <% end %>
		  
		</table>
	</div>
</div>

<div class="row">
	<div class="small-11 large-offset-1 columns">
		<ul class="inline-list">
			<li><%= link_to 'New Council', new_council_path %></li>
		</ul>
	</div>
</div>
