<div class="row">
	<div class="small-11 large-offset-1 columns">
		<h1>Assets</h1>
	</div>
</div>
<div class="row">
	<div class="small-11 large-offset-1 columns">
		<table>
		  <tr>
		    <th>Asset Name</th>
		    <th>Address</th>
		    <th>Postcode</th>
		    <th>State</th>
		    <th colspan="3"></th>
		    
		  </tr>
		
		  <% previous_type = "NIL"
		     @assets.each do |asset| 
		       if previous_type != asset.asset_type_code
		       	 previous_type = asset.asset_type_code %>
		       	 <tr>
		       	 	<th align="left" colspan="7"><%= asset_type_desc(asset.asset_type_code) %>
		       	 </tr>
		       <% end %>
		       <tr>
			     <td><%= link_to " - " + asset.asset_name, asset_path(asset) %></td>
			     <td><%= asset.address.address_long %></td>
			     <td><%= asset.address.postcode %></td>
			     <td><%= asset.address.state_code %></td>
			     <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
			     <td><%= link_to 'Destroy', asset_path(asset), method: :delete, 
			                                data: { confirm: 'Are you sure?' }%></td>
			   </tr>
		  <% end %>
		</table>
	</div>
</div>


<div class="row">
	<div class="small-11 large-offset-1 columns">
		<ul class="inline-list">
			<li><%= link_to 'New Asset', new_asset_path %></li>
		</ul>
	</div>
</div>
